<div>
  <div style="--color: var(--main-color);margin-bottom: 0;">
    <!-- HEADER -->
    <ion-icon name="close" class="icon-nav-arrow "
      style="color: var(--main-color); border-radius: 100%;position: absolute;z-index: 10;" (click)="closeModal()">
    </ion-icon>

  </div>

  <div style="padding: 0px 25px;margin-top: 60px;">
    <p style="font-weight: 520;font-size: 18px;margin: 7px auto;line-height: 1.2;color: #797979;">{{data.titulo}}
      <span class="badge" [ngClass]="data.estado=='Pagado' ? 'badge-suc' : 'badge-dan'">{{data.estado}}</span>
    </p>


    <div style="display: flex;">
      <div style="width: 50%;">
        <span class="input">Proveedor</span>
        <p style="font-weight: 500;font-size: 13px;margin: 7px auto;color: #818181;margin-top: 0; line-height: 1;">
          {{data.RAZON_SOCIAL}}</p>
      </div>
      <div style="width: 50%;">
        <span class="input">Clase</span>
        <p style="font-weight: 500;font-size: 13px;margin: 7px auto;color: #818181;margin-top: 0; line-height: 1;">
          {{data.clase}}</p>

      </div>
    </div>

    <div style="line-height: 0.15;display: flex;">
      <div style="width: 50%;">
        <p class="input">Fecha pago</p>
        <p style="font-weight: 500;font-size: 13px;margin: 7px auto;color: #818181;line-height: 1;">{{data.fecha_pago }}
        </p>
      </div>
      <div style="width: 50%;">
        <p class="input">Fecha pagado</p>
        <p style="font-weight: 500;font-size: 13px;margin: 7px auto;color: #818181;line-height: 1">
          {{data.fecha_pagado }}
        </p>
      </div>
    </div>

    <div style="display: flex;">
      <div style="width: 50%;">
        <span class="input">Tipo pago</span>
        <p style="font-weight: 500;font-size: 13px;margin: 7px auto;color: #818181;margin-top: 0; line-height: 1;">
          {{data.tipo_pago}} N°{{data.nro_pago}}</p>
      </div>
      <div style="width: 50%;">
        <span class="input">Monto</span>
        <p style="font-size: 15px; font-weight: 520; color: #e0533a;margin-top: 0; line-height: 1;"><span
            style="font-size: 10px;">S/.</span>
          {{data.monto | number:'1.2-2'}}
        </p>
      </div>
    </div>


    <div style="margin-bottom: 10px;">
      <span class="input">Descripción</span>
      <p style="font-weight: 500;font-size: 13px;margin: 7px auto;color: #818181;margin-top: 0; line-height: 1.3;">
        {{data.descripcion}}</p>
    </div>


  </div>




  <div style="display:block;text-align:center;margin-top: 30px;">
    <a  *ngIf="data.url_serv!='undefined'" class=" btn-main animate-pulse" style="background-color: var(--main-color);"  target="_blank" [href]="data.url_serv">
      <ion-icon name="document-text-outline" style="color: #fff;font-size: 25px;transform: translateY(15px)"> </ion-icon>
      <p style="color: var(--main-color);font-size: 10px;margin-top: 35px;text-align: center;font-weight: 600;">
        Evidencia</p>
    </a>
    <a  *ngIf="data.url_doc!='undefined'"  class=" btn-main" target="_blank" [href]="data.url_doc">
      <ion-icon name="document-text-outline" style="color: var(--main-color);font-size: 25px;transform: translateY(15px)">
      </ion-icon>
      <p style="color: var(--main-color);font-size: 10px;margin-top: 35px;text-align: center;font-weight: 600;">
        Compr.</p>
    </a>
  </div>

</div>