.chart-container{
    position: relative;
    margin: auto ;
    margin-top: 10px;

}

.icon-nav-arrow {
    color: #F7F8FB;
    font-size: 21px;
    padding: 15px 20px;
  }
  
  .title {
    text-align: center;
    color: #F7F8FB;
    transition: 0.3s linear all;
  }
  

  .row_container {
    display: flex;
  }