<ion-app>
<!-- <ion-content class="content-root" #contentNav>

    <div style="width: 30%;position: absolute;height: 100%;"  (click)="closeMenu()">
      <ion-icon name="close" style="color: #F7F8FB ;font-size: 30px; margin: 35px 30px;"></ion-icon>
    </div>


    <div style="width: 60%;position: relative; left: 33%;">
      <div style=" line-height: 0.2;margin-top: 20%;">
        <p style="color: #F7F8FB; font-size: 23px;font-weight: 500;">Luiggi Vargas</p>
        <p style="color: #F7F8FB; font-size: 13px;font-weight: 500;color: #a8a9eb;">Unidad inmobiliaria 1601A</p>
      </div>


      <div style="color: #F7F8FB;margin-top: 35%;line-height: 2.7">
        <ul style="padding-left: 12px;">
          <li style="list-style: none;">
            <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 13px;">
              <ion-icon name="shield-checkmark" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
              </ion-icon> Datos y privacidad
            </a>

          </li>
          <li style="list-style: none;">
            <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 13px;">
              <ion-icon name="bag-check" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
              </ion-icon> Propiedades
            </a>

          </li>
          <li style="list-style: none;">
            <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 13px;">
              <ion-icon name="calculator" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
              </ion-icon> Balance
            </a>

          </li>
          <li style="list-style: none;">
            <a href="javascript:void(0)" style="text-decoration: none; color:#F7F8FB; font-size: 13px;">
              <ion-icon name="business" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
              </ion-icon> Inmuebles
            </a>

          </li>

          <li style="list-style: none; margin-top: 120%;" (click)="cerrarSesion()">
            <a href="javascript:void(0)" style="text-decoration: none; color:#f7f8fb88; font-size: 13px;">
              <ion-icon name="arrow-back-circle" style="font-size: 22px;transform: translateY(6px);margin-right: 7px;">
              </ion-icon> Cerrar sesión
            </a>
          </li>
        </ul>


      </div>


    </div>

  </ion-content> -->

  <ion-router-outlet></ion-router-outlet>
</ion-app>