<ion-content>
  <!-- <div>
      <ion-icon slot="start" name="arrow-back-outline" class="icon-view" (click)="drawer.toggleDrawer()"></ion-icon>
      <p class="title">Lista de cuotas</p>
</div> -->

  <div
    style="color: #fff;background: linear-gradient(90deg, #3c40c2 10%, rgba(92, 108, 236, 1) 100%); margin-bottom: 0;height: 55px;">
    <!-- HEADER -->
    <ion-icon slot="start" name="arrow-back" class="icon-nav-arrow "
      style=" position: absolute;z-index: 10; padding: 20px;padding-top: 15px;" (click)="goInicio()">
    </ion-icon>
    <ion-item style="--background: transparent;margin-bottom: 0;" lines="none">
      <ion-title class="title">Mis propiedades</ion-title>
    </ion-item>
  </div>
  <!--   <div (click)="getDate()">
    <p>{{date}}</p>
    
  </div> -->
<!--   <ion-item>
    <ion-label position="stacked">Fecha de egresos</ion-label>
    <ion-datetime displayFormat="MMMM YYYY" min="2019-01-01" [value]="date" (ionChange)="getDate($event)"
      monthNames="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre">
    </ion-datetime>

    <span style="position: absolute;right: 10px; bottom: 5px;z-index: 10; background: #fff;border-radius: 100%;"
      (click)="scan()">
      <ion-icon name="calendar-outline" style="font-size: 23px;color: #8b898f; transform: translateY(2px);">
      </ion-icon>
    </span>
    
  </ion-item> -->


  <ng-container>
    <ion-card *ngFor="let item of listProp" button="true"
      style="--background: white;border-radius: 15px;margin-top: 10px ;padding: 15px 20px;box-shadow: var(--shadow-black-100);"
      class="recibo">
      <p style="font-weight: 520;font-size: 16px;margin: 7px auto;line-height: 1.2;">Partida {{item.partida}}
        <span class="badge" >{{item.tipo}}</span>
        <br> <span
          style="font-weight: 500;font-size: 11px;margin: 7px auto;">Participación <span style="color: var(--main-color);">{{item.porcentaje}}%</span>  </span>
      </p>


      <div class="row_container recibo" style="line-height: 0.15">
        <!--   <div style="width: 30%;">
          <p style="font-size: 11px; color: #8b898f; font-weight: 500;">Fecha pago</p>
          <p style="font-size: 15px">{{item.fecha_pago }}</p>
        </div> -->
        <div style="width:50%;">
          <p style="font-size: 11px; color: #8b898f; font-weight: 500;">Unid. pago</p>
          <p style="font-size: 15px">{{item.unidad_pago }}</p>
        </div>
   
        <div style="width: 50%;">
          <p style="font-size: 11px; color: #8b898f; font-weight: 500;">Fecha de carga</p>
          <p style="font-size: 11px;line-height: 1;">{{item.fecha_carga }}</p>
          
        </div>
      </div>
    </ion-card>
  </ng-container>

</ion-content>